/* Default */

.btn {
	background-color: $default;
	border-radius: .25rem;
	box-shadow: 0 1px 0 #c5c5c5;
	color: #3e3e3e;
	padding: .5rem;
	position: relative;
	text-decoration: none;
}

.btn:hover {
	box-shadow: none;
	top: 1px
}

/* Primary */

.btn--primary {
	color: $white;
	background-color: $primary;
	padding: .5rem;
	box-shadow: 0 1px 0 #c5c5c5;
}

.btn--success:hover {
}

/* Info */

.btn--info {
	color: $black;
background-color: $info;
padding: .5rem;
}

.btn--info:hover {
}

/* Success */

.btn--success {
	color: $white;
background-color: $success;
padding: .5rem;
}

.btn--success:hover {
}

/* Warning */

.btn--warning {
	color: $white;
background-color: $warning;
padding: .5rem;
}

.btn--warning:hover {
}

/* Danger */

.btn--danger {
	color: $white;
background-color: $danger;
padding: .5rem;
}

.btn--danger:hover {
}

/* Inverse */

.btn--inverse {
	color: $white;
background-color: $inverse;
padding: .5rem;
}

.btn--inverse:hover {
}
