/* Default */

.btn {
	border-radius: .25rem;
	box-shadow: 0 1px 0 #c5c5c5;
	color: #3e3e3e;
	background-color: #f5f5f5;
	padding: .5rem;
}

.btn:hover {
	box-shadow: none;
}

/* Primary */

.btn--primary {
	color: #ffffff;
	background-color: #2575b0;
	padding: .5rem;
	box-shadow: 0 1px 0 #c5c5c5;
}

.btn--success:hover {
}

/* Info */

.btn--info {
	color: #000000;
background-color: #a4d2df;
padding: .5rem;
}

.btn--info:hover {
}

/* Success */

.btn--success {
	color: #ffffff;
background-color: #297c46;
padding: .5rem;
}

.btn--success:hover {
}

/* Warning */

.btn--warning {
	color: #ffffff;
background-color: #eaa96a;
padding: .5rem;
}

.btn--warning:hover {
}

/* Danger */

.btn--danger {
	color: #ffffff;
background-color: #c84d40;
padding: .5rem;
}

.btn--danger:hover {
}

/* Inverse */

.btn--inverse {
	color: #ffffff;
background-color: #3e3e3e;
padding: .5rem;
}

.btn--inverse:hover {
}
