.btn {
background-color: #f5f5f5;
padding: .5rem;
}

.btn:hover {
background-color: #eeeeee;
}

.btn .btn--success {
background-color: green;
padding: .5rem;
}

.btn .btn--success:hover {
background-color: blue;
}
