/* Colours */

/* Monochrome */

$black: #00000 !default;
$grey-80: #6f777b !default;
$grey-75: #bfc1c3 !default;
$grey-50: #dee0e2 !default;
$grey-25: #f8f8f8 !default;
$grey-15: #f8f8f8 !default;
$white: #ffffff !default;

/* Status */
$default: #dedede !default;
$primary: #2575b0 !default;
$info: #a4d2df !default;
$success: #297c46 !default;
$warning: #eaa96a !default;
$danger: #c84d40 !default;
$inverse: #3e3e3e !default;
